.Button {
  padding: 13px 67px;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.125rem;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
