.Button {
  padding: 14px 22px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border: 0;
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
