.ProductCard {
  max-width: 420px;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 0 26px rgb(0 0 0 / 16%);

  &__Title {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
}
