.Team {
  margin-bottom: 120px;

  &__Title {
    font-size: 2.25rem;
    line-height: 3.25rem;
    margin-bottom: 60px;
    text-align: center;
  }

  &__Slider {
    display: block;
  }

  &__Slide {
    margin: 0 10px;
  }

  &__Image img {
    border-radius: 6px;
  }

  /* stylelint-disable */
  .splide__pagination {
    bottom: -30px;
  }

  .splide__pagination .is-active {
    background-color: var(--color-primary);
  }
  /* stylelint-enable */
}
